In [7]:
from binance.client import Client

api_key = 'CRejMTuSYokbz2JeNBBo1cb1nt3IOL8d1pcAjeBoq9qavYKuqAQLWfxFMFsqn70o'
api_secret = 'OEKkQ2R328yMF4LAGw5K15tBwIuISYzjLpZ7nSQK8qHLWMI9AjGas6t31xvGDhUy'

client = Client(api_key, api_secret)

prices = client.get_all_tickers()

len(prices)

233

In [105]:
import urllib.request
import json
response = urllib.request.urlopen('https://bittrex.com/api/v1.1/public/getmarketsummaries')
summary=json.loads(response.read())

In [32]:
from datetime import datetime

class InvalidBase(Exception):
    pass

def convert_price(display_price,market_name):
    btc_price = 15010.00
    eth_price = 968.50
    
    base = market_name[:3]
    
    if base == 'BTC':
        return display_price*btc_price
    elif base == 'ETH':
        return display_price*eth_price
    elif base == 'USD':
        return display_price
    else:
        raise InvalidBase

date_threshold = '2017-06-30'
price_threshold_in_dollar = 1/6.5

filtered = [(record['MarketName'],convert_price(record['Ask'],record['MarketName']),record['Created'][:10]) for record in summary['result'] \
            if convert_price(record['Ask'],record['MarketName'])<price_threshold_in_dollar and \
            datetime.strptime(record['Created'][:10], '%Y-%m-%d')<datetime.strptime(date_threshold, '%Y-%m-%d')]

for i in filtered:
    print(i[0]+','+str(i[1])+','+i[2])

BTC-2GIVE,0.0247665,2016-05-16
BTC-ABY,0.0250667,2014-10-31
BTC-ARDR,0.0,2016-10-13
BTC-BITB,0.0202635,2015-02-15
BTC-BURST,0.0741494,2014-09-16
BTC-COVAL,0.0358739,2015-01-22
BTC-DGB,0.1055203,2014-08-20
BTC-DOGE,0.009606400000000001,2014-02-13
BTC-FLDC,0.064543,2015-02-23
BTC-MUSIC,0.0603402,2017-03-27
BTC-PINK,0.06559369999999999,2014-07-29
BTC-PTC,0.13959300000000002,2014-03-27
BTC-RDD,0.0205637,2014-02-25
BTC-SC,0.042478300000000004,2017-05-22
BTC-SWIFT,0.0,2014-10-03
BTC-XDN,0.032121399999999994,2014-06-21
BTC-XMY,0.0229653,2014-03-15

In [121]:
import time
from datetime import timedelta

total_btc=0
symbol='POEBTC'

utc_time = datetime.strptime("2017-11-20T02",
                             "%Y-%m-%dT%H")

base_time=(utc_time - datetime(1970, 1, 1)) // timedelta(milliseconds=1)




for hour_i in range(1):
    #start_time=base_time +hour_i*3600*1000
    start_time=1513454400000
    #end_time = start_time+3600*1000-1
    end_time = 1513457999999

    trades = client.get_aggregate_trades(symbol=symbol,startTime=start_time,endTime=end_time)
    hourly_btc=0
    trade_count=0
    for record in trades:
        total_btc += float(record['q'])*float(record['p'])
        hourly_btc +=  float(record['q'])*float(record['p'])
        trade_count +=1
    print("hour {}, hourly_btc {}".format(hour_i+8,hourly_btc))

print("total btc {}, total trades {}".format(total_btc,trade_count))

hour 8, hourly_btc 6.926325010000001
total btc 6.926325010000001, total trades 356

In [193]:
end_time=int(time.time()*1000)
start_time=end_time-2*3600*1000+1

#candles = client.get_klines(symbol='POEBTC', interval='1d',startTime=start_time,endTime=end_time)

prices = client.get_all_tickers()

#candles = client.get_klines(symbol='POEBTC', interval='1d')

price_ratio = 3

def get_base_price():
    base_price={}
    for base_symbol in ['BNBUSDT', 'BTCUSDT', 'ETHUSDT']:
        base_price[base_symbol]={}
        for record in client.get_klines(symbol=base_symbol, interval='1d'):
            base_price[base_symbol][record[0]] = (float(record[1]) + float(record[4]))/2
    return base_price

In [195]:
def convert_price_daily(price,symbol,time_stamp, base_p=get_base_price()):
    
    if symbol.endswith('BTC'):
        if base_p['BTCUSDT'].get(time_stamp,None) == None:
            return None
        return price*base_p['BTCUSDT'].get(time_stamp,None)
    elif symbol.endswith('ETH'):
        if base_p['ETHUSDT'].get(time_stamp,None) == None:
            return None
        return price*base_p['ETHUSDT'].get(time_stamp,None)
    elif symbol.endswith('BNB'):
        if base_p['BNBUSDT'].get(time_stamp,None) == None:
            return None
        return price*base_p['BNBUSDT'].get(time_stamp,None)
    elif symbol.endswith('USDT'):
        return price
    else:
        return None

print(base_price['ETHUSDT'][int(time.time()/3600/24)*3600*24*1000])

1009.08

In [180]:
from datetime import date

for record in prices:
    symbol=record['symbol']
    current_price=convert_price_daily(float(record['price']),symbol,int(time.time()/3600/24)*3600*24*1000)
    if current_price == None:
        continue
    
    min_price=10000000.0
    min_price_date=''
    for daily in client.get_klines(symbol=symbol, interval='1d'):
        daily_price = convert_price_daily(float(daily[3]),symbol,daily[0])
        if float(daily[3])>0 and daily_price!=None and daily_price<min_price:
            min_price = daily_price
            min_price_date = date.fromtimestamp(daily[0]/1000).strftime('%Y-%m-%d')
    if current_price < min_price * price_ratio:
       print('symbol {}, min price in USDT {}, min price date {}, current price in USDT {}'.format(symbol,min_price,min_price_date,current_price))

symbol MTLBTC, min price in USDT 3.1768821500000004, min price date 2017-10-08, current price in USDT 7.11602364
symbol MTLETH, min price in USDT 3.3457599999999994, min price date 2017-10-08, current price in USDT 7.052460120000001
symbol BTGBTC, min price in USDT 108.16605675, min price date 2017-10-23, current price in USDT 252.27835962
symbol BTGETH, min price in USDT 111.75424055, min price date 2017-10-27, current price in USDT 254.83709952
symbol BCDBTC, min price in USDT 28.159293, min price date 2017-12-07, current price in USDT 43.411149
symbol BCDETH, min price in USDT 29.1588896, min price date 2017-12-11, current price in USDT 46.720404
symbol DGDBTC, min price in USDT 72.285911, min price date 2017-11-26, current price in USDT 187.3488999
symbol DGDETH, min price in USDT 71.838223, min price date 2017-11-26, current price in USDT 186.7907988
symbol LTCETH, min price in USDT 192.08807499999998, min price date 2018-01-03, current price in USDT 279.07116479999996
symbol LTCUSDT, min price in USDT 177.58, min price date 2017-12-21, current price in USDT 280.87
symbol WAVESBTC, min price in USDT 8.4687025, min price date 2017-12-14, current price in USDT 12.876938471999999
symbol WAVESETH, min price in USDT 10.160325, min price date 2017-12-14, current price in USDT 12.70532628
symbol WAVESBNB, min price in USDT 8.40903, min price date 2018-01-04, current price in USDT 11.257960000000002
symbol ELFBTC, min price in USDT 0.665041728, min price date 2017-12-20, current price in USDT 1.9478837916
symbol AIONBTC, min price in USDT 3.261759725, min price date 2017-12-22, current price in USDT 8.530716378
symbol AIONETH, min price in USDT 3.1887250000000003, min price date 2017-12-22, current price in USDT 8.58121632
symbol BRDBTC, min price in USDT 1.0854000000000001, min price date 2017-12-23, current price in USDT 3.0202242918
symbol BRDETH, min price in USDT 1.07112225, min price date 2017-12-23, current price in USDT 2.9656861200000004
symbol MCOBNB, min price in USDT 8.739749999999999, min price date 2017-12-24, current price in USDT 17.437903000000002
symbol EDOBTC, min price in USDT 3.200391315, min price date 2017-12-25, current price in USDT 5.783046006
symbol EDOETH, min price in USDT 3.2479601999999996, min price date 2017-12-26, current price in USDT 5.85064584
symbol WINGSBTC, min price in USDT 0.9382160970000001, min price date 2017-12-26, current price in USDT 1.738148358
symbol NAVBTC, min price in USDT 2.8169499080000002, min price date 2018-01-01, current price in USDT 4.553914649999999
symbol NAVETH, min price in USDT 2.0858459999999996, min price date 2017-12-26, current price in USDT 4.46618808
symbol NAVBNB, min price in USDT 2.29806777, min price date 2018-01-04, current price in USDT 4.722571
symbol TRIGBNB, min price in USDT 3.288651504, min price date 2018-01-04, current price in USDT 7.254744000000001

In [189]:
import requests

r=requests.get('https://api.huobi.pro/v1/common/symbols')
huobi_symbols=r.json()['data']

for record in huobi_symbols:
    symbol = record['base-currency']+record['quote-currency']
    current_price = convert_price_daily(requests.get('https://api.huobi.pro/market/trade?symbol={}'.format(symbol)).\
        json['tick']['data'][0]['price'])
    for dai

103

In [196]:
from my_agent import Agent

In [198]:
df = Agent('binance').get_all_klines()

getting kline for all symbols...

100%|████████████████████████████████████| 241/241 [01:39<00:00,  2.42symbol/s]

In [200]:
df2=df.reset_index()

df2[df2.index.duplicated()]

Empty DataFrame
Columns: [index, open_ts, open, high, low, close, volume, asset_volume, trades, symbol, interval]
Index: []

In [201]:
df_base = (df2.assign(rn=df2.sort_values(['open_ts'], ascending=True).groupby(['symbol']).cumcount() + 1).query('rn == 1'))

In [204]:
import pandas as pd
days = 7
pd.merge(df2,df_base, on='symbol').query('open_ts_x < open_ts_y +{}'.format(days*24*3600*1000))

,index_x,open_ts_x,open_x,high_x,low_x,close_x,volume_x,asset_volume_x,trades_x,symbol,...,index_y,open_ts_y,open_y,high_y,low_y,close_y,volume_y,asset_volume_y,trades_y,interval_y
0,0,1515715200000,0.90000000,99.00000000,0.10000000,0.17116000,467088.33000000,112757.91587470,6983,RLCBNB,...,0,1515715200000,0.90000000,99.00000000,0.10000000,0.17116000,467088.33000000,112757.91587470,6983,1d
1,0,1515715200000,0.90000000,99.00000000,0.10000000,0.17116000,467088.33000000,112757.91587470,6983,RLCBNB,...,1,1515801600000,0.16920000,0.17230000,0.16000000,0.16688000,17354.53000000,2844.04782810,254,1d
2,0,1515715200000,0.00250000,0.01890000,0.00102000,0.00300600,3583116.57000000,15689.16519315,41218,RLCETH,...,0,1515715200000,0.00250000,0.01890000,0.00102000,0.00300600,3583116.57000000,15689.16519315,41218,1d
3,0,1515715200000,0.00250000,0.01890000,0.00102000,0.00300600,3583116.57000000,15689.16519315,41218,RLCETH,...,1,1515801600000,0.00300100,0.00300600,0.00280900,0.00297600,90821.70000000,264.36341551,1176,1d
4,0,1515715200000,0.00037000,0.00109000,0.00026000,0.00027440,16168061.14000000,6229.73023419,104632,RLCBTC,...,0,1515715200000,0.00037000,0.00109000,0.00026000,0.00027440,16168061.14000000,6229.73023419,104632,1d